@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.sidebar{
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 1.2rem;
  padding-inline: 0.5rem ;
  border-right: 1px solid #8080806a;

  position: fixed;
  top: 0;
  left: 0;
}

.logo-container{
  display: flex;
  align-items: center;
  height: 10dvh;
}

.logo{
  font-size: 1.3rem;
  padding-inline: 1rem;
  font-weight: 500;
  font-family: "Pacifico", serif;
  letter-spacing: 0.15rem;
}

.link{
  display: flex;
  justify-content: flex-start;
}
.link-name{
  font-size: 1rem;
}

.search-bar{
  display: flex;
  border-radius: 5px;
}

.search-bar>input{
  height: 100%;
  border-radius: inherit;
}

.bg-follow-image{
  background-image: linear-gradient(45deg, #6a0dad, #8a2be2, #9370db);
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  display: flex;
}

.follow-image{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: auto;
}

.products{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 1rem;
}


.post-card{
  width:65%;
  border-radius: 5px;
}

.cart{
  grid-auto-rows: 350px;
}